# Directorios compilados o generados
**/node_modules
**/dist
**/build
**/public/images/instruments/manifest.json

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

**/eas.json

# OS
.DS_Store

# Tests
**/coverage
**/.nyc_output

# IDEs y editores
**/.idea
**/.project
**/.classpath
**/.c9
**/*.launch
**/.settings
**/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Variables de entorno
**/.env
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local

# Directorios temporales
**/.temp
**/.tmp
**/temp

# Runtime data
**/pids
**/*.pid
**/*.seed
**/*.pid.lock

# Archivos de diagnóstico
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Next build for storybook
.next

# Cursor
.cursor/
.claude
.agents
