# App
PORT=5000
ENVIRONMENT=development

# Swagger
SWAGGER_PATH=documentation

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=audit_trail
DB_LOGGING=false
DB_SSL=false

# CORS (comma separated origins)
CORS_ORIGINS=http://localhost:3000
